@model IEnumerable<PizzaStore.WebApp.Models.Order>

@{
    ViewData["Title"] = "Order";
}

<h2>Sorted By Least Expensive Orders</h2>

<p>
    <a asp-action="MostExpensive">Sort By Most Expensive Orders</a>
</p>
<p>
    <a asp-action="LeastExpensive">Sort By Least Expensive Orders</a>
</p>
<p>
    <a asp-action="MostRecent">Sort By Most Recent Orders</a>
</p>
<p>
    <a asp-action="LeastRecent">Sort By Least Recent Orders</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>


                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

