@model IEnumerable<PizzaStore.WebApp.Models.Order>
@{
    ViewData["Title"] = "Locations";
}

<h2>Locations</h2>
<h3>@ViewData["Message"] We have stores in the following locations:</h3>

<br />

<li>
    <strong> Location 1</strong> - 123 Alpha street ::
    @Html.ActionLink("Inventory", "Details", new { id = 1 }) | @Html.ActionLink("Order History", "OrderHistory")

</li>
<br />
<li>
    <strong> Location 2</strong> - 456 Bravo street ::
    @Html.ActionLink("Inventory", "Details", new { id = 2 }) | @Html.ActionLink("Order History", "OrderHistory")

</li>
<br />
<li>
    <strong> Location 3</strong> - 789 Charlie street ::
    @Html.ActionLink("Inventory", "Details", new { id = 3 }) | @Html.ActionLink("Order History", "OrderHistory")

</li>
<br />
<li>
    <strong> Location 4</strong> - 246 Delta street ::
    @Html.ActionLink("Inventory", "Details", new { id = 4 }) | @Html.ActionLink("Order History", "OrderHistory")

</li>
<br />
<li>
    <strong> Location 5</strong> - 135 Echo street ::
    @Html.ActionLink("Inventory", "Details", new { id = 5  }) | @Html.ActionLink("Order History", "OrderHistory")

</li>
